
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.dropbox.com/s/6k3eo47wu2640e7/Unity-iPhone.ipa?dl=1</string>
					<key>md5-size</key>
					<integer>50000000</integer>
					<key>md5s</key>
					<array>
					  <string>5ae5a13061922588a1b2e9c2a594fe22</string>
  <string>80213c7d752d32e31fe91782b9926230</string>
  <string>2a90270356f1652450a61bfbc34cb348</string>
  <string>0beead9ce854a171267b3db4ed47f53f</string>
  <string>6da9c13c52aff9605394c9f3238fec0d</string>
  <string>0e193c85ce2a6b7d5df1a78331de6087</string>
  <string>9b8f72597afbd97a13811ad84b81a5bb</string>
  <string>707b7b2523a4c74b17c2d77e7f570ee3</string>
  <string>4ae508820f9e5697fd946c941b0eb780</string>
  <string>899a046c0a7eabf0f05c69c979a165ab</string>
  <string>22fc9716f9d77560d2d5328fdec62d12</string>
  <string>e50d69c79070a6cc896b140ad17418f6</string>
  <string>991186a570153a73da9cd4052320dca1</string>
  <string>e8c4f11146cab84f457a48118e069e73</string>
  <string>2b4276c3f05659c65843ba9c9681338e</string>
  <string>1be6119c77d0c0820e9be538c3ac11cc</string>
  <string>f83632f29f2d628c6b5a254611215aaf</string>
  <string>575c2457d7808d972f9429e6ae2b51be</string>
  <string>1b643952a730a4bf8be8971e70db0586</string>
  <string>7cbfd5a196b2eb2c7eb04e0075928784</string>
  <string>93369e01880c31b32d88e52deb1f28df</string>
					</array>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://www.dropbox.com/s/b57bjar4kidmn9y/57.png?dl=1</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://www.dropbox.com/s/tr2jabnevkpk42m/512.png?dl=1</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.AccentureXRS.TechVision2018</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>TechVision2018</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
