
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.dropbox.com/s/nslf5mfi77ewwvz/Unity-iPhone.ipa?dl=1</string>
					<key>md5-size</key>
					<integer>50000000</integer>
					<key>md5s</key>
					<array>
					  <string>feb576c2b47c4d16006465838bb51f21</string>
  <string>49e2f17289f29d5f3c60554491fb699a</string>
  <string>ca3cd8748ad953238715938520b7a2d7</string>
  <string>6e772a403fb1ed34c7a113ffafc2e32c</string>
  <string>58cfaa82c2d2d99c8033bc1bff455a59</string>
  <string>8c4aa7033aaae6838f1c76967581936d</string>
  <string>fa0dcd49ba9b9a1adb3017b606e387b4</string>
  <string>364a308859a159ea5a824177039d091b</string>
  <string>b295988c03c5a09eb199c2a186ea45c7</string>
  <string>a41334c9f4a5c6e28db268082fdb8a24</string>
  <string>aeacad032452b1c02115cb8b1a0aeac4</string>
  <string>ada76a1d708ac99fc5cf9feb16999d79</string>
  <string>1a72cf7ed2a33694d5d130eb9c82cc4e</string>
  <string>8a057d7759124de640aaf532c2f65df7</string>
  <string>40d42d3e1740e682a40849013ff07486</string>
  <string>960aa1bb017a50adaf5116f32540e5b1</string>
  <string>5ba5bfaf03b4914fbf226b0056535a99</string>
  <string>7268ae1a02c92cd5c6f794f6a3c7035f</string>
  <string>f880da2089b1999c24aab55736dbced9</string>
  <string>60f39d7b17f3a2d6a247386ac643522a</string>
  <string>48da8ea2311648d0ea48f3626f3b1d40</string>
					</array>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://www.dropbox.com/s/b57bjar4kidmn9y/57.png?dl=1</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://www.dropbox.com/s/tr2jabnevkpk42m/512.png?dl=1</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.AccentureXRS.TechVision2018</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>TechVision2018</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
