
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.dropbox.com/s/ni53artb5km01yp/Unity-iPhone.ipa?dl=1</string>
					<key>md5-size</key>
					<integer>50000000</integer>
					<key>md5s</key>
					<array>
					  <string>a3cda9ea3e5d0252321cf317f20312f0</string>
  <string>56ba237e25f57eda0a630a264d104fc9</string>
  <string>1cb2fcdd2d52dffc2e50d2c7f8e9fcac</string>
  <string>97efb54cd9b11ab9e6fb535780cdb2f3</string>
  <string>530d04997d903cd4bdd186fcd1fbead9</string>
  <string>0f8c860b435f11ee3a03b8cdab29df0a</string>
  <string>4e1e438b8d03eac516df0948f2095c9b</string>
  <string>06713104dd78fdb951cc7593195a5e8c</string>
  <string>5b14ddc057e49fab463dadfdeceb0133</string>
  <string>b55caa96cdaf4e623d07eb97724cfb10</string>
  <string>9e3609dad37d2dc0d5070e6f9f1c9f77</string>
  <string>f0579a62d0a72fd44342cd1d240b5400</string>
  <string>601fec99a984cb011d6fde3091e08d12</string>
  <string>d9cc6f8870ff63fac70f2019abeba303</string>
  <string>00a9e9a1d9e5c5c61a8226b8054aeb3e</string>
  <string>55a0bd27ce912e33561a9d229ff1568b</string>
  <string>e5bcd3d390287fba920aa745297a6a6a</string>
  <string>7cb400265cfef1bccfcd96c93ed14ddf</string>
  <string>89109561210f47f7a25956620a7f3418</string>
  <string>70ef60fa9bbc96c7ccdd7734c0186607</string>
  <string>7044d45a0dc92e4308c19d1a26fefa2e</string>
					</array>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://www.dropbox.com/s/b57bjar4kidmn9y/57.png?dl=1</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://www.dropbox.com/s/tr2jabnevkpk42m/512.png?dl=1</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.AccentureXRS.TechVision2018</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>TechVision2018</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
