
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.dropbox.com/s/2k1wsuthftyr2y8/Unity-iPhone.ipa?dl=1</string>
					<key>md5-size</key>
					<integer>50000000</integer>
					<key>md5s</key>
					<array>
					  <string>a1bcf4ee4a7655339251db34a69fb193</string>
  <string>f5ea36e528bb718217e8097fd6ff5334</string>
  <string>de16f79edaa2592253532b5e4cb891b8</string>
  <string>1b2ba05936ce57bb5d30a4e5b263bfae</string>
  <string>02dee8caab7c9019136ef518351f8044</string>
  <string>a6a9953daa3bb29bb629d3e140d5448a</string>
  <string>c430bbd6079eb9d17584e34629844858</string>
  <string>a6ea3e9f1d8694140c5f07ca7f700bb6</string>
  <string>06ba149d53d8c37fcd05332bbea653df</string>
  <string>117147401bb8480398ffc074704f383a</string>
  <string>41e9eb74fa59bf53bcd80e0664135187</string>
  <string>89cab40e0d33a84dc60166e02e2cac50</string>
  <string>dd567dfe20ab3d69797ec97cce9f906e</string>
  <string>855c45b68ab2eb072a1ca6b12af4eb7a</string>
  <string>cd22ccf1d1a0e9268bf8dd8b5ec3138d</string>
  <string>07dfa711dd96d889d5f72a886bef4c1f</string>
  <string>7fa6aece39a691604256be7f9ba21d6b</string>
  <string>c385e09beeac1e656626ccdb063aeca3</string>
  <string>5e478158e0bf2a5cdf61d9e25a0a5726</string>
  <string>45c4e18b8b5d22de8406288b2d84f1bf</string>
  <string>fcd838937734642e73f0dce09740c0fe</string>
					</array>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://www.dropbox.com/s/b57bjar4kidmn9y/57.png?dl=1</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://www.dropbox.com/s/tr2jabnevkpk42m/512.png?dl=1</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.AccentureXRS.TechVision2018</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>TechVision2018</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
