<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
      <dict>
          <key>assets</key>
          <array>
              <dict>
                  <key>kind</key>
                  <string>software-package</string>
                  <key>url</key>
                  <string>https://www.dropbox.com/s/epys2tunrf5pole/Unity-iPhone.ipa?dl=1</string>
<key>md5-size</key>
<integer>50000000</integer>
<key>md5s</key>
<array>
  <string>dd388678cb75225570305fedcf1c62b9</string>
  <string>68ab42d994982457fae784e7f31bd001</string>
  <string>639323978856aa730373072890e583aa</string>
  <string>8736efb36acd902bc44869ee2bc115ec</string>
  <string>b0e15621f5f8c35c5220ad0b83bd36de</string>
  <string>661c318a4c9b67bf7c8800442a1e7a28</string>
  <string>44f4b8d4655e1fe9dc2c6e554a26597a</string>
  <string>f0f2035fa17637fae2a74e7a0e6b6156</string>
  <string>a0f5ead8f03fe9fea4ab73f50ae18e73</string>
  <string>b383981fb615aa9bff87a771ed8acb25</string>
  <string>a0f8c97c08fce8a710d22d1263e1cb55</string>
  <string>d7992c234bb838561200975bd79613fd</string>
  <string>d3a5a4142515214c68532212b5f004be</string>
  <string>f2f341e4fcd59c3e6dbe81e09ff97f3f</string>
  <string>7bd761e183bebeb834e94fa34150ceae</string>
  <string>5054b23ce9277ecb2119233d4bb2d47c</string>
  <string>f37f7fdb5e791c8d985cbfd75a2e77a9</string>
  <string>c551e814863f8d80fecf65b31722242b</string>
  <string>31a406162db238a682a0ccfea2a36581</string>
  <string>9a41127b22167c7a574ecec81f02c879</string>
  <string>1bf1c04de7b824a5e2e70a4232ee6825</string>
</array>
              </dict>
              <dict>
                  <key>kind</key>
                  <string>display-image</string>
                  <key>url</key>
                  <string>https://www.dropbox.com/s/fm1ck5svusl906g/57.png?dl=1</string>
              </dict>
              <dict>
                  <key>kind</key>
                  <string>full-size-image</string>
                  <key>url</key>
                  <string>https://www.dropbox.com/s/0i94lbsufz77uaz/512.png?dl=1</string>
              </dict>
          </array>
          <key>metadata</key>
          <dict>
              <key>bundle-identifier</key>
              <string>com.accentureXRS.TechVision2018</string>
              <key>bundle-version</key>
              <string>1.0</string>
              <key>kind</key>
              <string>software</string>
              <key>title</key>
              <string>TechVisionXR2018</string>
          </dict>
      </dict>
  </array>
</dict>
</plist>
