<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
      <dict>
          <key>assets</key>
          <array>
              <dict>
                  <key>kind</key>
                  <string>software-package</string>
                  <key>url</key>
                  <string>https://www.dropbox.com/s/e3z64imt9xxmii4/Unity-iPhone.ipa?dl=1</string>
<key>md5-size</key>
<integer>50000000</integer>
<key>md5s</key>
<array>
  <string>772e35ae64bc5815dd6bd8f50cbd2fb5</string>
  <string>c6dbbd11ffe4ac978e1cd019837677c0</string>
  <string>19fecf793e5bf05ba847f754d939230d</string>
  <string>17feff4b539ad3c81298362e1a00657e</string>
  <string>d8fb0705942646e157993d5a2b7095c5</string>
  <string>64f6f152792c744a72d82111e957bae2</string>
  <string>435180af82628defc6385e1e2cf38443</string>
  <string>0fa434c84aeac5ea44026e0bb34915e3</string>
  <string>f6cc0d540840d0d0f4bd876df2a0cfac</string>
  <string>7bc0e332923b9182364db7d600231a6c</string>
  <string>70ba90ddf5051cd370ef44bf3ec868ff</string>
  <string>8240b2db70e080582fae5cd0960795f4</string>
  <string>df34c74103f58235e83c6b594575fdb1</string>
  <string>aad722d2cb5aa56a21d03f2a152599b7</string>
  <string>54ff9f068aef66a6595cea438c8d6e6b</string>
  <string>fae68fe5ea081e87c1035b07a53e8421</string>
  <string>eb3104ab7119f19ef8448c59613f1689</string>
  <string>87ad21ed53819abbc2d68e80788765df</string>
  <string>60b7c4a10b62e5c1f0e03a032b67dd82</string>
  <string>e98a4b8c474d6a46124fe8daf2c61d2c</string>
  <string>80117ee531dbd65c2ab022735fc02f26</string>
</array>
              </dict>
              <dict>
                  <key>kind</key>
                  <string>display-image</string>
                  <key>url</key>
                  <string>https://www.dropbox.com/s/fm1ck5svusl906g/57.png?dl=1</string>
              </dict>
              <dict>
                  <key>kind</key>
                  <string>full-size-image</string>
                  <key>url</key>
                  <string>https://www.dropbox.com/s/0i94lbsufz77uaz/512.png?dl=1</string>
              </dict>
          </array>
          <key>metadata</key>
          <dict>
              <key>bundle-identifier</key>
              <string>com.accentureXRS.TechVision2018</string>
              <key>bundle-version</key>
              <string>1.0</string>
              <key>kind</key>
              <string>software</string>
              <key>title</key>
              <string>TechVisionXR2018</string>
          </dict>
      </dict>
  </array>
</dict>
</plist>
