<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
      <dict>
          <key>assets</key>
          <array>
              <dict>
                  <key>kind</key>
                  <string>software-package</string>
                  <key>url</key>
                  <string>https://www.dropbox.com/s/40qktft40o1sq4b/Unity-iPhone.ipa?dl=1</string>
<key>md5-size</key>
<integer>50000000</integer>
<key>md5s</key>
<array>
  <string>a0b9d682befb788c9aff34ff14fa3acb</string>
  <string>5d6ef837930d4d0fd7bcc813386546e7</string>
  <string>0c979dfa7b8063d601c2a48da2ecce93</string>
  <string>228a0e317b58b168a0169ea8ccbdd709</string>
  <string>f7fe8be71a26482c2c7f2ff3e4733e5d</string>
  <string>9622deff9044a83addec6d179ea4dc9a</string>
  <string>db69499820e55206783cb2bf710ea169</string>
  <string>842ed4aa84f0ae6289f42b654b4cb5be</string>
  <string>49672daaf4ee3a857dd8558dae4c5f29</string>
  <string>8534776b925dfad4286da74d57d1a7e2</string>
  <string>01673d47897d0e65a03c6a2a9ccc700b</string>
  <string>c369297a8c4c72c5ef28507fcccd0f76</string>
  <string>ed139d824c858d03be21cc7a2bda684b</string>
  <string>febc86dab38870c4a838a6fb697a4e08</string>
  <string>9830b9840ca918b5b5f6d8942c092b62</string>
  <string>777481251a5daf06627ef91e6493be56</string>
  <string>f502ce1a0b9fa53a42106cc5b32152ab</string>
  <string>63f33d54cc2871447cb2b2f8bf9fa31a</string>
  <string>92c11b63d1e0d35cbe8faa84e49bef90</string>
  <string>6d1bc3552b53bbd6f80b279bf671b7e5</string>
  <string>a960ddc4cf941d05f745ee508a01b8b4</string>
</array>
              </dict>
              <dict>
                  <key>kind</key>
                  <string>display-image</string>
                  <key>url</key>
                  <string>https://www.dropbox.com/s/39f4bquopy6jldg/57.png?dl=1</string>
              </dict>
              <dict>
                  <key>kind</key>
                  <string>full-size-image</string>
                  <key>url</key>
                  <string>https://www.dropbox.com/s/sfpfm6ok4fd05n5/512.png?dl=1</string>
              </dict>
          </array>
          <key>metadata</key>
          <dict>
              <key>bundle-identifier</key>
              <string>com.accentureXRS.TechVision2018</string>
              <key>bundle-version</key>
              <string>1.0</string>
              <key>kind</key>
              <string>software</string>
              <key>title</key>
              <string>TechVisionXR2018</string>
          </dict>
      </dict>
  </array>
</dict>
</plist>
