
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.dropbox.com/s/rd5sjvrlqfz7x9f/Unity-iPhone.ipa?dl=1</string>
					<key>md5-size</key>
					<integer>50000000</integer>
					<key>md5s</key>
					<array>
					  <string>2cbca148e871d7830aac78fa5687741e</string>
  <string>48ac6bebae841b67ebd40f9629e21f24</string>
  <string>e1a86c67dc1021e70fd03e86a017659f</string>
  <string>eafdfcc3f9391a8074a2f18c2cc78e77</string>
  <string>8acd03b445331731c0fc38d9bb7a51b8</string>
  <string>c4ff862fa0a131e70b5e2883d08a96a6</string>
  <string>663ecb984b7b5f77e8b7cd4103dc6dbd</string>
  <string>cd14fe37886e2b61c9c0b2ee4f4179a7</string>
  <string>7acc4b0f3a9bd401bfb2e9fe7cad6153</string>
  <string>fb88cf51ef86545bdc46f3eb3be1ee5d</string>
  <string>2d50b785653a7228c5229edb06038b63</string>
  <string>e4c4051200f72e4dd8c8e495ade6736a</string>
  <string>fe304990b358e4ee3ea11357a1acbb67</string>
  <string>6e75a63f9e1f16b9ee7220367f706d49</string>
  <string>6008f87b37b9d5a5396b1d957568480b</string>
  <string>9b0a1f2e17b93c8002fad708e22f8a54</string>
  <string>e01fb612e5a3b004b4f35e38db4ba058</string>
  <string>dda3a7cdcb64907334d8249741698e78</string>
  <string>b66ff7fe6437734bdf38e4a8fb014742</string>
  <string>cb25f744a93be467228fdb6d486a4168</string>
  <string>17e160115c77759d9a27d56843c830f1</string>
					</array>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://www.dropbox.com/s/l85ry014fl0oxpy/57.png?dl=1</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://www.dropbox.com/s/s7pigb2ylzu5kqp/512.png?dl=1</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string> com.AccentureXRS.TechVision2018S</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>TechVision2018S</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
