
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.dropbox.com/s/xtczdj36j1lrohq/Unity-iPhone.ipa?dl=0</string>
					<key>md5-size</key>
					<integer>50000000</integer>
					<key>md5s</key>
					<array>
					  <string>1c90e515a391595e54474ec28a0452a6</string>
  <string>dafa0f6c499dc0baae751fc9f901eb9d</string>
  <string>0eec8ec76aafd6232621f2ca8c56f5e7</string>
  <string>26de6206d0f0017e87ee29cb8a1b0b84</string>
  <string>caebd55c9b512ae56534c3b54322bf78</string>
  <string>87b0813a5e89464d265dc6a4fba306cf</string>
  <string>ad1573b1529bf46b790c34b296f2cb4c</string>
  <string>d84210d0d60532cc1b54c7c4d1d3317a</string>
  <string>80e17f4aadf2e7a940916fbeb219cb1f</string>
  <string>64571e7e039f1d301579da63176d9a52</string>
  <string>0fd1cdeed08025836c0e5ee02b80784f</string>
  <string>b35f23a8ae9f9c891e2b623316b84319</string>
  <string>5875ef12806588441a55007784235e6a</string>
  <string>9b3f8d47e6f3af94c32e9760d570ddf1</string>
  <string>3f49d36b4032483445580d5dfea7682a</string>
  <string>4567f9dbfeb5088f715ac135885fa476</string>
  <string>68c1bfcabb19c2fee50a444540265594</string>
  <string>b8056cc20d4cdd9f8eb93b9ee98bb3fc</string>
  <string>b3a579025e0288ddb94314a5aee8c9dc</string>
  <string>480fb41ede09b1ce2b141b145b4886c6</string>
  <string>4bee1128ca4179dd202ac5b59bec2ea2</string>
					</array>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://www.dropbox.com/s/l85ry014fl0oxpy/57.png?dl=1</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://www.dropbox.com/s/s7pigb2ylzu5kqp/512.png?dl=1</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.AccentureXRS.TechVision2018S</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>TechVision2018S</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
