<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
      <dict>
          <key>assets</key>
          <array>
              <dict>
                  <key>kind</key>
                  <string>software-package</string>
                  <key>url</key>
                  <string>https://www.dropbox.com/s/rd5sjvrlqfz7x9f/Unity-iPhone.ipa?dl=1</string>
<key>md5-size</key>
<integer>50000000</integer>
<key>md5s</key>
<array>
  <string>a4ff439a875f4bd68ee163612e069d69</string>
  <string>e0805cac3a585229990991bb835cb3ba</string>
  <string>4910b6c9305a6452a97f43d4eb5a4c6a</string>
  <string>9bd36325789aef1816b616885266ed0a</string>
  <string>8c081f0c35e84d234297a760815f7286</string>
  <string>91be9ac33c5172742b760db3843eae5f</string>
  <string>f7f301c1d5e6223ccc4367f94c3b626a</string>
  <string>73c3bdcdedcd42d63098aa1bc9bd57bd</string>
  <string>342ded1a9aa96d08146b2601a575cc44</string>
  <string>7d50d248bf73116f768c270988be317f</string>
  <string>d8b1cabd0f6cfc037432d0adbc156c16</string>
  <string>fcce8780346149a25bc9e1960fd17e2d</string>
  <string>b2aac712187cca086d2b42e4f3860cdb</string>
  <string>f539fd3215464f5b99239bec1fd22a2e</string>
  <string>9dceda300cad733e7c98a4d47d3e21fb</string>
  <string>151bbd7882ecff802ab715e58463cdec</string>
  <string>2781f5fccbdac69073f4a1572411a528</string>
  <string>33b83714043185c80635f6e2c09f6f19</string>
  <string>c502e3f65721d29da759299e7fed0530</string>
  <string>7fa7cd3eebce3594082bb3c18d80d3ff</string>
  <string>47d2c5eebd50cc8ed991decd41075896</string>
</array>
              </dict>
              <dict>
              <key>kind</key>
              <string>display-image</string>
              <key>url</key>
              <string>https://www.dropbox.com/s/l85ry014fl0oxpy/57.png?dl=1</string>
              </dict>
              <dict>
              <key>kind</key>
              <string>full-size-image</string>
              <key>url</key>
              <string>https://www.dropbox.com/s/s7pigb2ylzu5kqp/512.png?dl=1</string>
              </dict>
          </array>
          <key>metadata</key>
          <dict>
          <key>bundle-identifier</key>
          <string>com.AccentureXRS.TechVision2018</string>
          <key>bundle-version</key>
          <string></string>
          <key>kind</key>
          <string>software</string>
          <key>title</key>
          <string></string>
          </dict>
      </dict>
  </array>
</dict>
</plist>
